*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

html,body {	
    margin: 0;	padding: 0;
}

[lang="ko"] body {
    word-break: keep-all;
}

/* 숨겨진 헤더 */
.host_navi {
    left: 0;
    background-color: #fff;
    visibility: visible;
    /* 요소를 투명하게 만드는 속성 */
    opacity: 1;
    height: 60px;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
}

.host_hdr_logo {
    left: 48px;
    position: relative;
}

.host_hdr_else {
    margin-left: auto;
    margin-right: 48px;
    display: flex;
}

.hdr_logo_link {
    /* 요소 구성요소 숨기는 기능 */
    appearance: none !important;
    display: inline-block !important;
    border-radius: 50% !important;
    border: none !important;
    outline: none !important;
    margin: 0px !important;
    padding: 0px !important;
    color: rgb(34, 34, 34) !important;
    cursor: pointer !important;
    touch-action: manipulation !important;
    position: relative !important;
    background: transparent !important;
}

.hdr_logo_svg {
    position: relative !important;
}

.hdr_else_inner {
    margin-right: 48px;
}

.hdr_else_link {
    touch-action: manipulation !important;
    border-width: 1px !important;
    border-style: solid !important;
    outline: none !important;
    padding-top: 14px !important;
    padding-bottom: 14px !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: 600;
    border-radius: 8px;
}

.hdr_else_inner_link {
    font-size: 16px !important;
    line-height: 20px !important;
    padding: 6px 22px 6px 6px !important;
    position: relative !important;
    display: inline-flex !important;
    align-items: center !important;
    box-shadow: rgb(221 221 221) 0px 0px 0px 1px inset, rgb(0 0 0 / 18%) 0px 2px 4px !important;
    border: none !important;
    color: rgb(34, 34, 34) !important;
    font-weight: 600 !important;
    border-radius: 100px !important;
    cursor: pointer !important;
    transform: scale(1) !important;
    user-select: none !important;
    background: rgb(255, 255, 255) !important;
    outline: none !important;
}

.hdr_else_inner_img {
    margin-left: -18px;
    display: block !important;
    margin-right: 12px !important;

}

.hdr_else_inner_img1 {
    right: -18px;
    z-index: 3;
    display: inline-block !important;
    position: relative !important;
    border: 1px solid rgb(255, 255, 255) !important;
    border-radius: 50% !important;
}

.hdr_else_inner_img2 {
    right: -9px;
    z-index: 2;
    display: inline-block !important;
    position: relative !important;
    border: 1px solid rgb(255, 255, 255) !important;
    border-radius: 50% !important;
}

.hdr_else_inner_img3 {
    right: 0px;
    z-index: 1;
    display: inline-block !important;
    position: relative !important;
    border: 1px solid rgb(255, 255, 255) !important;
    border-radius: 50% !important;
}

.hdr_else_inner_img1_div {
    background-position: 50% 50% !important;
    /* 배경 이미지 반복 여부를 정하는 속성 */
    background-repeat: no-repeat !important;
}

.hdr_else_inner_img1_img {
    height: 100% !important;
    width: 100% !important;
    position: static !important;
    object-fit: cover;
    vertical-align: bottom;
    border-radius: 50%;
}

.hdr_else_inner_img1_img_div {
    display: none !important;
    background-image: none !important;
    vertical-align: bottom !important;
    height: 100% !important;
    width: 100% !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
}

.hdr_else_inner_img2_div {
    display: inline-block;
    vertical-align: bottom;
    height: 30px;
    width: 30px;
    min-height: 1px;
    border-radius: 50%;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
}

.hdr_else_inner_img3_div {
    right: 0px;
    z-index: 1;
    display: inline-block !important;
    position: relative !important;
    border: 1px solid rgb(255, 255, 255) !important;
    border-radius: 50% !important;
}