*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

html,body {	
    margin: 0;	padding: 0;
}

/* 헤더 */

.main_header {
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #DDDDDD;
    border-width: 100%;  
    position: fixed;
    top: 0;
    /* width: 100% */
    left: 0;
    right: 0;
    background-color: #FFFFFF;

}

.main_header_inner{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding-left: 80px;
    padding-right: 80px;
    align-items: center;
    display: flex;
    height: 80px;
    position: relative;
    width: 100%;
}

.main_header_front {
    width: 474.08px;
}

.main_front_logo {
    width: 102px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    
}

.main_header_mid {
    width: 411.06px;
    padding: 0 24px;
    text-align: center;
}


.main_header_mid_box {
    height: 48px;
    width: 363.06px;
    vertical-align: middle;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 40px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    display: flex;
    flex: 0 1 auto;
    right: 10px;
    padding-left: 8px;
}

.main_header_mid_frt {
    background: transparent;
    width: 98px;
    height: 48px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: -1px;
    padding-left: 8px;
    padding: 0;
    text-align: center;
    cursor: pointer;
}

.main_header_mid_frt_txt {
    padding: 0 16px;
    font-size: 14px;
    line-height: 18px; 
    /* 줄높이 */
    font-weight: 600;
    text-overflow: ellipsis;
    /* 말 줄임표로 잘린 텍스트가 있다고 표시 */
    white-space: nowrap;
    overflow: hidden;
    flex: 1 1 auto;
    text-align: left;
    cursor: pointer;
}

.barbar{
    background-color:#DDDDDD;
    height: 24px;
    width: 0.5px;
    margin-top: 10px;
}

.main_header_mid_mid{
    background: transparent;
    cursor: pointer;
    padding: 0;
    text-align: left;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: -1px;
    /* width: 120.99px; */
    height: 48px;
}

.main_header_mid_mid_txt {
    padding: 0 16px;
    font-size: 14px;
    line-height: 18px; 
    /* 줄높이 */
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1 1 auto;
    text-align: left;
    cursor: pointer;
}

.main_header_mid_last{
    background-color: transparent;
    height: 48px;
    cursor: pointer;
    padding: 0;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: -1px;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.main_header_mid_last_txt {
    padding: 0 16px;
    color: #717171;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1 1 auto;
    cursor: pointer;
    /* width: 105.08px; */
   height: 18px;
   margin-top: 13px;
}

.main_header_mid_search {
    background-color:  #FF385C;
    margin: 7px 7px 7px 0;
    border-radius: 50%;
    padding: 10px;
}

.search {
    color: #FFFFFF;
    height: 32px;
    width: 32px;
}

.main_header_last {
    height: 80px;
    width: 474.08px;
    display: flex;
    flex-direction: row;

}

.main_home_link {
    color: #FF385C;
    vertical-align: middle;
    position:absolute;
    /* margin-top: 8px; */
}

.main_header_lastlast {
    height: 80px;
    width: 474.08px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}

.main_header_last_frt {
    width: 389.08px;
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 8px !important;
}

.main_header_last_frt2 {
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 12px;
    height: 42px;
}

.header_lst_frt2_txt{
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
    z-index: 1;
    color: #222222;
    text-align: center;
}

.main_header_last_mid{
    width: 40px;
    height: 42px;
}

.main_header_last_scd {
    width: 77px;
    height: 42px;
}

.main_header_last_mid{
    align-items: center !important;
    display: flex !important;
    height: 18px !important;
    position: relative !important;
    z-index: 1 !important;
}

.header_last_mid_svg {
    position: absolute;
    top:12px;
    left: 12px;
}

.main_header_last_last_box {
    padding: 5px 5px 5px 12px;
    background: transparent;
    cursor: pointer;
    margin: 0;
    border-radius: 21px;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    width: 77px;
    height: 42px;
    display: flex;
    flex-direction: row;
}

.main_header_last_mymenu{
    margin-top: 7px;
}


.main_header_last_mymy{
    margin-left: 12px;
    flex: 0 0 30px;
    height: 30px;
    overflow: hidden;
    position: relative;
    width: 30px;
    color: #717171;
}


/* 두번째 헤더 */

.main_scd_header {
    position: sticky;
    width: 100%;
    margin-top: 80px;
    padding-top: 20px;
    top: 60px;
    height: 78px;
}

.main_scd_header_inner {
    background-color: aqua;
    max-height: 78px;
    display: grid;
    /* grid-template-columns는 열(column)의 배치
     */
     grid-template-columns:100%;
     margin-inline: auto;
     height: 78px;
     margin: 0 auto;
}

.main_scd_header_inner> :nth-child(n){
    grid-area: 1 / 1 / 2 / 2;
}

.scd_header_inner_in{
    width: 1359.2px;
    height: 78px;
    background-color: red;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.scd_header_inner_menu{
    background-color: blue;
    width: 1255.2px;
    height: 78px;
}

.scd_header_inner_filter{
    width: 104px;
    height: 78px;
    background-color: yellow;
    align-items: center;
    display: flex;
}

.scd_header_filter{
    padding-left: 24px;
   height: 48px;
}

.header_filter {
    width: 80px;
    height: 48px;
}

.header_filter_btn {
    width: 80px;
    height: 48px;
    background-color: transparent;
    cursor: pointer;
    border:  1px solid #DDDDDD;
    border-radius: 12px;
    margin: 0;
    padding: 7px 0;
}

.ic_filter_btn{
   padding-left: 16px;
   padding-right: 16px;
   gap: 8px;
   padding-top: 2px; 
   display: grid;
   justify-items: center;
   grid-auto-flow: column;
}

.ic_filter_txt{
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    transform: translateY(-1px);
}


/* 메인 콘텐트 */

.site-content{
    height: 4513px;
}
.main_content {
    text-align: center;
    height: 4457px;
    margin-top: 16px;
    --gp-section-top-margin: 16;
    margin-bottom: 40px;
    --gp-section-bottom-margin: 40;
    text-align: center;
}

.main_content_ctt {
    display: block;
    padding-left: 80px;
    padding-right: 80px;
    height: 4457px;
}

.main_content_mdl{
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1120px;
    width: 1359.2px;
    height: 4457px;
}

.main_ctt_mdl {
    grid-auto-rows: minmax(0,1fr);
    display: grid;
    grid-gap: var(40px, 0) var(24px, 0);
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main_ctt_crd {
    display: grid;
    grid-template-columns: 100%;
    --breakpoint-grid_columns: 4;
    background-color: olive;
    width: 321.8px;
    height: 405.7px;
}


/* 하단바 */
.main_bottom {
    position: fixed;
    bottom: 0;
    pointer-events: none;
    display: grid;
    grid-template: repeat(2,auto) / repeat(3,33.333%);
    grid-template-areas:
        'left center right'
        'bottom bottom bottom';
    width: 100%;
    height: 177px;
    grid-template-rows: 88px 89px;
}

.site-bottom-wrap {
    margin-bottom: 40px;
    grid-area: center;
    justify-self: center;
    /* align-self: end; */
}

.main_map_btn{
    white-space: nowrap !important;
    pointer-events: auto !important;
}

.main_map_btnbtn{
    display: inline-flex !important;
    border-radius: 24px !important;
    border: none !important;
    outline: none !important;
    margin: 0px !important;
    padding: 14px 19px !important;
    color: #222222 !important;
    cursor: pointer !important;
    align-items: center !important;
    touch-action: manipulation !important;
    justify-content: center !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: rgba(0, 0, 0, 0.08) !important;
    box-shadow: none !important;
    background: #222222 !important;
}

.main_map_txt {
    font-size: 14px !important;
    line-height: 18px !important;
    color: #FFFFFF !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-weight: 600 !important;
    display: flex !important;
}

.main_map_svg{
    display: block;
    height: 16px;
    width: 16px;
    fill: #FFFFFF;
    margin-left: 8px;
}

.main_bottom_wrap {
    grid-area: bottom;
    border-top: 1px solid #DDDDDD;
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: #FFFFFF;
}

.main_bottom_inner {
    padding-bottom: 14px;
    padding-top: 13px;
    justify-content: space-between;
    align-items: center;
    margin-inline:auto;
    display: flex;
    max-width: 1760px;
    pointer-events: auto;
    height: 47px;
    padding-left: 80PX;
    padding-right: 80PX;
    font-size: 14px !important;
    line-height: 18px !important;
}

.main_bottom_inner2 {
    height: 41px;
    padding-bottom: 8px;
    line-height: 12px;
    font-size: 10px;
    flex-direction:column;
    padding-inline-end: 80px;
    padding-inline-start: 80px;
    margin-inline: auto;
    display: flex;
    color: #717171;
}

.main_btm_in_txt {
    font-size: 14px;
    line-height: 18px;
    color: #222222;
    width: 122.34px;
}

.main_btm_in_txt2 {
    display: inline-block !important;
    text-align: center !important;
    width: 19px !important;
    font-size: 14px !important;
    line-height: 18px !important;
    color: #222222 !important;
}

.main_btm_in_link{
    font-family: inherit !important;
    font-weight: inherit !important;
    font-style: inherit !important;
    font-variant: inherit !important;
    text-decoration: none !important;
    color: #222222 !important;
    font-size: 14px !important;
    line-height: 18px !important;
    outline: none !important;
}

.main_btm_in_txt_txt{
    flex: 1 0 22px;
}

.main_btm_in3_txt{
    align-items: center;
    display: flex;
}

.main_btm_in3_a{
    display: flex !important;

}

.main_btm_in3_b{
    background: transparent !important;
    border: 0 !important;
    cursor: pointer !important;
    margin: 0 !important;
    padding: 0 !important;
    user-select: auto !important;
    color: #222222 !important;
    text-decoration: none !important;
    border-radius: 4px !important;
    font-weight: 600 !important;
    text-align: inherit !important;
    outline: none !important;
    font-size: 14px !important;
    line-height: 18px !important;
    white-space: nowrap !important;
}

.in3_a_a{
    margin-right: 24px !important;

}

.in3_a_b{
    margin-right: 24px !important;

}

.main_btm_in3_a{
    display: flex !important;
}

.in3_a_a:not(last-child) {
    margin-right: 24px !important;
}

.in3_a_a_btn{
    background: transparent !important;
    border: 0 !important;
    cursor: pointer !important;
    margin: 0 !important;
    padding: 0 !important;
    user-select: auto !important;
    font-size: 14px !important;
    line-height: 18px !important;
    color: #222222 !important;
    display: flex !important;
    align-items: center !important;
    white-space: nowrap !important;

}

.main_btm_in_link2 {
    color: #222222 !important;
}

.main_btm_in_link5 {
    color: #222222 !important;
}

.main_btm_in_link3 {
    color: #222222 !important;
}

.main_btm_in_link4 {
    color: #222222 !important;
}
.in3_a_a_span{
    border: 0;
    padding: 0;
    clip-path: inset(100%);
    height: 1px;
    overflow: clip;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.in3_a_a_span2 {
    margin-right: 8px !important;
}

.in3_a_a_span3 {
    font-weight: 600 !important;
}

.in3_a_b {
    margin-right: 24px !important;
}

.in3_a_b_btn{
    appearance: none !important;
    background: transparent !important;
    border: 0 !important;
    cursor: pointer !important;
    margin: 0 !important;
    padding: 0 !important;
    user-select: auto !important;
    font-size: 14px !important;
    line-height: 18px !important;
    color: #222222 !important;
    align-items: center !important;
    white-space: nowrap !important;
    text-decoration: none !important;
    display: flex;
}

.in3_a_b_span {
    margin-right: 8px !important;
    font-weight: 600 !important;
}

.in3_a_b_span2 {
    font-weight: 600 !important;
}

.main_brm_in3_b {
    appearance: none !important;
    background: transparent !important;
    border: 0 !important;
    cursor: pointer !important;
    margin: 0 !important;
    padding: 0 !important;
    color: #222222 !important;
    text-decoration: none !important;
    border-radius: 4px !important;
    font-weight: 600 !important;
    text-align: inherit !important;
    outline: none !important;
    font-size: 14px !important;
    line-height: 18px !important;
    white-space: nowrap !important;
}

.main_brm_in3_b_span {
    flex-direction: row;
    vertical-align: bottom;
    display: inline-block;
}

.main_brm_in3_b_span2 {
    margin-left: 8px;
    display: inline-block;
}

.main_bottom_inner2-ltr {
    padding-top: 8px;
    border-top: 1px solid #DDDDDD
}