*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

html,body {	
    margin: 0;	padding: 0;
}

/* 헤더 */
.room_header {
    height: 80px;
    left: 0 !important;
    width: 100% !important;
    z-index: 100 !important;
    position: absolute !important;
    display: block;
    border-bottom: 1px solid #DDDDDD;
}

.room_header_inner {
    padding-left: 200px !important;
    padding-right: 200px !important;
    justify-content: space-between !important;
    align-items: center !important;
    display: flex !important;
    height: 100% !important;
    position: relative !important;
    width: 100% !important;
    z-index: 1 !important;
    margin: 0 auto;
}

.room_header-front {
    flex: 1 0 124px !important;
    width: 386px;
    /* margin-left: 120px; */
}

.room_header-middle {
    text-align: center !important;
    flex: 0 1 auto !important;
    min-width: 348px !important;
    padding: 0 12px !important;
}

.room_header-end {
    flex: 1 0 104px !important;
}

.room_header-front-link {
    outline: none !important;
    align-items: center !important;
    display: inline-flex !important;
    height: 80px !important;
    position: relative !important;
    vertical-align: middle !important;
    z-index: 1 !important;
    color: #FF385C !important;
}

.room_header-logo {
    display: block;
}

.room_header-mid-f {
    transform-origin: 50% 0% !important;
    margin: 0px auto !important;
    display: inline-block !important;
    vertical-align: middle !important;
    text-align: left !important;
    width: 100% !important;
    transform: scale(1, 1) translateY(0px) !important;
    visibility: visible !important;
}

.room_header-mid-s {
    padding-left: 40px !important;
    padding-right: 40px !important;
    top: 0px !important;
    transform-origin: 50% 0% !important;
    transform: scale(0.35, 0.727273) translateY(-58px) !important;
    left: 0px !important;
    position: absolute !important;
    text-align: left !important;
    width: 100% !important;
    z-index: 2 !important;
    opacity: 0 !important;
    pointer-events: none !important;
    visibility: hidden !important;
}

.room_header-mid-in1 {
    text-align: left;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 40px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    align-items: center;
    color: #222222;
    display: inline-flex;
    max-width: 100%;
    vertical-align: middle;
}

.room_header-mid-in1-btn {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-left: 8px;
    width: 300px;
    background: transparent;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 1px;
    text-align: inherit;
    border: 1px solid transparent;
    margin: -1px;

    user-select: auto;
    outline: none;
    align-items: center;
    display: flex;
    flex: 0 1 auto;
    height: 48px;
    min-width: 0;
    position: relative;
    z-index: 1;
}

.room_header-mid-in1-div {
    padding: 0 16px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1 1 auto;
}

.room_header-mid-in1-ic {
    margin: 7px 7px 7px 0;
    border-radius: 50%;
    padding: 10px;
    height: 32px;
    width: 32px;
    color: #FFFFFF;
    background-color: #FF385C;
}

.room_header-mid-in2 {
    padding-bottom: 16px !important;
    position: relative !important;
    z-index: 1 !important;
}

.room_header-mid-form {
    margin: 0 auto;
    max-width: 850px;

}

.room_header-mid-top {
    align-items: center !important;
    display: flex !important;
    height: 80px !important;
    justify-content: center !important;
}

.room_header-mid-inner {
    border: 1px solid #DDDDDD;
    border-radius: 32px;
    background-color: #FFFFFF;
    color: #222222;
    display: flex;
    height: 66px;
    position: relative;
    width: 100%;
    outline: none;
}

.r-hdr-profile {
    display: flex !important;
    align-items: center !important;
    justify-content: flex-end !important;
    height: 80px !important;
    position: relative !important;
    width: 386px;
}

.r-hdr-pf-f {
    display: flex !important;
    flex: auto !important;
    justify-content: flex-end !important;
    margin-right: 8px !important;
}

.r-hdr-pf-link {
    background: transparent;
    border: 0;
    cursor: pointer;
    margin: 0;
    text-align: inherit;
    padding: 12px;
    outline: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    position: relative;
    white-space: nowrap;
    z-index: 1;
    color: #222222;
}

.r-hdr-pf-div {
    position: relative !important;
    display: inline !important;
}

.r-hdr-pf-btn {
    background: transparent;
    border: 0;
    cursor: pointer;
    margin: 0;
    text-align: inherit;
    padding: 12px;
    appearance: none;
    display: inline-block;
    user-select: auto;
    outline: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    position: relative;
    white-space: nowrap;
    z-index: 1;
}

.r-hdr-pf-div {
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
    z-index: 1;
}

.r-hdr-pf-div2 {
    align-items: center !important;
    display: flex !important;
    height: 18px !important;
    position: relative !important;
    z-index: 1 !important;
}

.r-hdr-pf-e-div {
    display: inline !important;
    position: relative !important;
}

.r-hdr-pf-e-btn {
    appearance: none;
    background: transparent !important;
    border: 1px solid #DDDDDD;
    color: #222222;
    cursor: pointer;
    display: inline-flex;
    margin: 0 !important;
    outline: none !important;
    overflow: visible !important;
    padding: 5px 5px 5px 12px !important;
    text-align: inherit !important;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 21px !important;
    height: 42px !important;
    position: relative !important;
    vertical-align: middle !important;
    z-index: 1 !important;
}

.pfediv2 {
    color: #717171;
    flex: 0 0 30px !important;
    height: 30px !important;
    margin-left: 12px !important;
    overflow: hidden !important;
    position: relative !important;
    width: 30px !important;
    z-index: 1 !important;
}